$frame-long-side: 52dvh;
$border-weight: 8px;
$shadow-height: 4px;

.frameWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 40px;
  padding-bottom: max(2dvh, 20px);
}

.shadowCommon {
  position: absolute;
  content: "";
  display: block;
}

.frameCommon {
  border: #444444 $border-weight solid;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5) inset;
  position: relative;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    @extend .shadowCommon;
    top: calc(100% + $border-weight);
    left: -$border-weight;
    background-color: transparent;
    width: calc(100% + 12px);
    height: 1px;
    border-top: $shadow-height solid rgb(58, 58, 58);
    $transpalent-border: calc($shadow-height - 2px) solid transparent;
    border-left: $transpalent-border;
    border-right: $transpalent-border;
    z-index: -1;
  }

  &::after {
    @extend .shadowCommon;
    top: -$border-weight;
    left: -$border-weight;
    background-color: rgb(167, 167, 167);
    opacity: 0.7;
    width: calc(100% + $border-weight * 2);
    height: calc(100% + $border-weight * 2 + $shadow-height + 4px);
    z-index: -1;
    border-radius: 2px;
    filter: blur(1px);
  }
}

.frame {
  &Horizontal {
    @extend .frameCommon;
    width: calc($frame-long-side * (3 / 4));
    height: $frame-long-side;
  }

  &Vertical {
    @extend .frameCommon;
    width: $frame-long-side;
    height: calc($frame-long-side * (4 / 3));
  }
}
.title {
  position: absolute;
  bottom: 6px;
  right: 14px;
  transform: rotate(-10deg);
  font-size: 0.8rem;
  color: #666;
}

.photo {
  display: block;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  object-fit: contain;
  border: 4px solid;
  border-color: #aaaaaa #dee0db #ebecec #bdbdbd;
}
