$frame-size: 82vw;

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 150px 0;
}

.title {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.frame {
  border: #333 1rem solid;
  box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.45) inset,
    6px 7px 11px -2px rgba(0, 0, 0, 0.45),
    -6px -7px 15px -2px rgba(250, 250, 250, 0.938);
  position: relative;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    background-color: rgb(250, 255, 255);
    opacity: 0.9;
    position: absolute;
    width: 92vw;
    height: 103%;
    border-radius: 40%;
    top: -70px;
    filter: blur(20px);
    z-index: -1;
  }
  &Vertical {
    @extend .frame;
    width: calc($frame-size * (3 / 4));
    height: $frame-size;
  }

  &Horizontal {
    @extend .frame;
    width: $frame-size;
    height: calc($frame-size * (4 / 3));
  }
}

.photo {
  display: block;
  width: calc($frame-size - 188px);
  height: calc($frame-size * (4 / 3) - 188px);
  object-fit: cover;
  border: 0.75rem solid;
  border-color: #aaaaaa #dee0db #ebecec #bdbdbd;
}

.shadowWrap {
  filter: blur(3px);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.shadowCommon {
  position: absolute;
  content: "";
  display: block;
  height: 80px;
}

.shadowCenter {
  @extend .shadowWrap;
  &::before {
    @extend .shadowCommon;
    bottom: -45px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: calc(100% - 25px);
    transform: skewX(3deg);
  }
  &::after {
    @extend .shadowCommon;
    bottom: -30px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    width: calc(100% - 20px);
  }
}
