.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.photo {
  margin-bottom: 30px;
  display: grid;
  grid-template-rows: 1fr min-content;
}

.pageTitle {
  font-weight: lighter;
}

.title {
  text-align: right;
  font-size: 12px;
}
