$frame-long-side: 48dvh;
$border-weight: 8px;

.frameWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 58px;
  padding-bottom: 40px;
}

.shadowCommon {
  position: absolute;
  content: "";
  display: block;
}

.frameCommon {
  border: #333 $border-weight solid;
  box-shadow: 4px 6px 6px -2px rgba(0, 0, 0, 0.5) inset;
  position: relative;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    @extend .shadowCommon;
    top: calc(100% + $border-weight);
    left: -$border-weight;
    background-color: transparent;
    opacity: 0.7;
    width: calc(100%);
    height: 1px;
    border-top: 14px solid rgb(73, 73, 73);
    $transpalent-border: 8px solid transparent;
    border-left: $transpalent-border;
    border-right: $transpalent-border;
    z-index: -1;
  }

  &::after {
    @extend .shadowCommon;
    top: -$border-weight;
    left: -$border-weight;
    background-color: rgb(126, 126, 126);
    opacity: 0.4;
    width: calc(100% + $border-weight * 2);
    height: calc(100% + $border-weight * 2 + 20px);
    z-index: -1;
    border-radius: 2px;
  }
}

.frame {
  &Horizontal {
    @extend .frameCommon;
    width: calc($frame-long-side * (3 / 4));
    height: $frame-long-side;
  }

  &Vertical {
    @extend .frameCommon;
    width: $frame-long-side;
    height: calc($frame-long-side * (4 / 3));
  }
}

.photo {
  display: block;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  object-fit: cover;
  border: 6px solid;
  border-color: #aaaaaa #dee0db #ebecec #bdbdbd;
}
