$frame-long-side: 84vw;
$border-weight: 16px;

.frameWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 100px 0 50px;
}

.frame {
  border: #333 $border-weight solid;
  box-shadow: 0px 10px 6px -2px rgba(0, 0, 0, 0.5) inset;
  position: relative;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  &Vertical {
    @extend .frame;
    width: calc($frame-long-side * (3 / 4));
    height: $frame-long-side;
  }

  &Horizontal {
    @extend .frame;
    width: $frame-long-side;
    height: calc($frame-long-side * (4 / 3));
  }
}

.photo {
  display: block;
  width: calc($frame-long-side - 188px);
  height: calc($frame-long-side * (4 / 3) - 188px);
  object-fit: cover;
  border: 0.5rem solid;
  border-color: #aaaaaa #dee0db #ebecec #bdbdbd;
}

.shadowCommon {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
}

.shadow {
  // filter: blur(3px);
  position: absolute;
  top: -$border-weight;
  left: -$border-weight;
  width: calc(100% + $border-weight * 2);
  height: calc(100% + $border-weight * 2);
  z-index: -1;
  &::after {
    @extend .shadowCommon;
    top: 8px;
    left: 0;
    background-color: rgb(126, 126, 126);
    opacity: 0.4;
    width: calc(100% + 12px);
    height: calc(100% + 26px);
  }
  &::before {
    @extend .shadowCommon;
    bottom: -50px;
    left: 0;
    background-color: transparent;
    opacity: 0.7;
    width: calc(100% - $border-weight * 2);
    height: 28px;
    border-top: 28px solid rgb(73, 73, 73);
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
  }
}

.highLight {
  $blur-size: 50px;
  content: "";
  // background-color: rgb(0, 235, 235);
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  width: calc(100% - $blur-size * 3);
  height: calc(50% - $blur-size * 3);
  border-radius: 20%;
  top: calc(50px + $blur-size);
  left: calc($blur-size * 1.5);
  filter: blur(50px);
  z-index: -1;
}
