.container {
  display: grid;
  grid-template-columns: 100vw;
}

.carouselWrap {
  width: 100%;
}

.title {
  position: fixed;
  top: 51%;
  left: 64%;
  width: min-content;
  margin-inline: auto;
  font-size: 1rem;
  color: #333;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #555;
  z-index: 1000;
}
