:root {
  --swiper-theme-color: #333;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 1px solid #333;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #333;
}

.swiper-pagination {
  top: 28px;
  align-items: center;
  pointer-events: none;
}
